<div class="main-card-fields">
    <div class="fields-group">
        <input type="text" name="name" id="name" placeholder="Nome" class="btn-main-card">
        <input type="date" name="dtAgendamento" id="dtAgendamento" class="btn-main-card">
    </div>
    <div class="fields-group">
        <input type="text" class="btn-main-card">
        <input type="text" class="btn-main-card">
        <input type="text" class="btn-main-card">
        <input type="text" class="btn-main-card">
    </div>
    <div class="fields-group">
        <input type="text" class="btn-main-card">
    </div>
    <div class="fields-group">
        <input type="text" class="btn-main-card">
    </div>
    <div class="main-card-fields-btns">
        <button data-btn-back>Voltar</button>
        <button data-btn-next>Continuar ></button>
    </div>
</div>