<div class="main-card-fields">
    <input type="date" name="dtAgendamento" id="dtAgendamento" >
    <div class="main-card-fields-btns">
        <button data-btn-back>Voltar</button>
        <button data-btn-next>Continuar ></button>
    </div>
</div>