<div class="main-card-text">
    <h2 class="main-card-text-title">Quando você virá?</h2>
    <p class="main-card-text-p">Escolha a data que você deseja para a reserva da sua mesa.</p>
    <h2 class="main-card-text-title">Onde quer trabalhar?</h2>
    <p class="main-card-text-p">Escolha em qual mesa quer se acomodar para trabalhar.</p>
    <h2 class="main-card-text-title">Como pretende vir ao trabalho??</h2>
    <p class="main-card-text-p">Conduoasdoadasdasdjisd</p>
    <h2 class="main-card-text-title"></h2>
    <p class="main-card-text-p">Verifique as informações para concluir seu agendamento.</p>
</div>