<div class="main-card-text">
    <div class="title-and-p">
        <h2>Quando você virá?</h2>
        <p>Escolha a data que você deseja para a reserva da sua mesa.</p>
    </div>
    <div class="title-and-p">
        <h2>Onde quer trabalhar?</h2>
        <p>Escolha em qual mesa quer se acomodar para trabalhar.</p>
    </div>
    <div class="title-and-p">
        <h2>Alguma observação?</h2>
        <p>Escreva algo que deseja adicionar ao seu agendamento.</p>
    </div>
    <div class="title-and-p">
        <p>Verifique as informações para concluir seu agendamento.</p>

        <div class="resume-card">
            <div class="resume-card1">
                <div class="resume-card-title">

                </div>
                <div class="resume-info-group">
                    <div class="resume-info">

                    </div>
                    <div class="resume-info">

                    </div>
                </div>
            </div>

            <div>
                <div>

                </div>
            </div>

            <div>
                <div>

                </div>
            </div>

        </div>

    </div>
</div>