@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Configs */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
}

form {
    width: 100%;
}

/* Variables */

:root {
    --cor-principal: rgb(0, 71, 186);
    --cor-secundaria: rgb(0, 160, 223);
    --cor-branco: white;
    --cor-button-hover: rgb(0, 49, 130);
}

/* Header */

.header-container {
    width: 100%;
    height: 26vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 16%;
    background-image: url("images/fundoPepsico.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container .header-logo {
    height: 128px;
    width: 128px;
}

.header-container .header-logo img {
    width: 100%;
    height: 100%;

}

.header-menu {
    width: 100%;
    display: flex;
    align-items: center;
}

.header-menu p {
    color: var(--cor-branco);
    font-weight: bold;
    letter-spacing: 0.7px;
    font-size: 16px;
}

.header-button {
    width: 45px;
    height: 45px;
    background-color: var(--cor-branco);
    border-radius: 100%;
    margin-left: 16px;
    box-shadow: gray 1px 1px 2px 1px;
}

/* Main */

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 74vh;
}

.main-card {
    min-height: 80vh;
    width: 74%;
    background-color: var(--cor-branco);
    position: absolute;
    top: 20%;
    border-radius: 20px 20px 0 0;
    box-shadow: rgba(128, 128, 128, 0.459) 1px 1px 4px 1px;
    padding: 20px;
    z-index: 2;
}

.main-card-title {
    background-image: linear-gradient(to right ,red, rgb(253, 107, 156));
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.main-card-title h1 {
    color: var(--cor-branco);
    font-size: 24px;
}

.main-card-title img {
    width: 64px;
    height: 64px;
    
}

.main-card-content {
    margin-top: 2em;
}

.main-card-content h1 {
    font-size: 24px;
    margin-left: 20px;
    color: var(--cor-principal);
}

/* Main Step counter */

.main-card-step-counter {
    width: 100%;
    height: 120px;
}

.progressbar {
    margin-top: 30px;
    height: 100%;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
    text-align: center;

}

.progressbar li::before {
    content: '';
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 2px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: var(--cor-branco);
}

.progressbar li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 40px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child::after {
    content: none;
}

/* .progressbar li.active {
    color: blue;
} */

.progressbar li.active::before {
    border: var(--cor-principal) solid 3px;
    box-shadow: var(--cor-secundaria) 0px 0px 0px 12px;
}

.progressbar li.active::after {
    background-color: rgb(0, 183, 255);
}

/* Main  again */

.main-card-text {
    text-align: center;
}

.main-card-text h2 {
    color: var(--cor-principal);
    margin-top: 1em;
}

.main-card-text p {
    margin-top: 1em;
    font-size: 16px;
}

.main-card-fields, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card-fields-btns {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main-card-fields button:nth-child(1) {
    width: 8%;
    margin: 2.5em 80px 0 0;
    background-color: rgb(224, 224, 224);
    color: rgb(29, 29, 29);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    box-shadow: gray 1px 1px 10px;
}

.main-card-fields button:nth-child(3), .main-card-fields button:nth-child(2) {
    width: 18%;
    padding: 8px 20px 8px 20px;
    margin-top: 2.5em;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 18px;
    box-shadow: gray 1px 1px 10px;
}

.main-card-fields button:nth-child(3) {
    display: none;
}

.main-card-fields button:nth-child(1):hover {
    background-color: rgb(202, 198, 198);
    transition: all 0.4s;
    cursor: pointer;
}

.main-card-fields button:nth-child(3):hover, .main-card-fields button:nth-child(2):hover {
    background-color: var(--cor-button-hover);
    transition: all 0.4s;
    cursor: pointer;
}


.btn-main-card {
    font-size: 16px;
    width: 100%;
    padding: 10px 10px;
    border-radius: 20px;
    border: solid rgb(204, 201, 201) 1.5px;
    outline: none;
}

.btn-main-card:hover {
    box-shadow:rgb(87, 85, 85) 0px 0px 0px 1px;
    cursor: text;
}

.btn-main-card:focus {
    box-shadow: var(--cor-principal) 0px 0px 0px 2px;
}

.fields-group {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;
    width: 70%;
}

.fields-group:nth-child(3), .fields-group:nth-child(4) {
    grid-template-columns: 1fr;
}

.input-label {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
}

.input-label label {
    font-size: 14px;
    color: var(--cor-principal);
    font-weight: bold;
    margin-bottom: 4px;
}

.fields-group .input-label select {
    cursor: pointer;

}

.fields-group .input-label textarea {
    resize: none;
}

.title-and-p {
    display: none;
}

/* Main Resume cards */

.fields-group:nth-child(4) {
    margin-top: 2em;
    background: center / contain no-repeat url('./images//ticket-bg.71a78957.svg');
    width: 548px;
    height: 316px;
    padding: 16px 26px;
}

.resume-card-box {
    width: 100%;
}

.resume-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.4em;
}

.resume-card-title h3 {
    color: rgb(100, 100, 100);
    letter-spacing: 1px;
}

.resume-card .edit {
    color: var(--cor-principal);
    font-weight: bold;
    cursor: pointer;
    padding: 8px 18px;
}

.resume-card .edit:hover {
    background-color: rgb(212, 212, 212);
}

.resume-info-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-bottom: 1.5em;
}

.resume-info h5 {
    letter-spacing: 0.7px;
    margin-bottom: 0.2em;
    color: rgb(196, 196, 196);
}