<header>
    <div class="header-container">
        <div class="header-logo">
            <a href="/"><img src="images/pepsico-logo-black-and-white.png" alt="Logo da Pepsico">
            </a>
        </div>
        <div class="header-menu">
            <p>Olá Thiago, sentimos saudades!</p>
            <div class="header-button"></div>
            <div class="header-button"></div>
        </div>
    </div>
</header>