<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="styles/style.css">
        <link rel="stylesheet" href="styles/login.css">
    </head>
    <body>
        <div class="login-body">
            <section class="login">
                <div class="login-logo">
                    <img src="images/logo-blue.f23f2e03.svg" alt="Logo da Pepsico">
                </div>
                <div class="login-form">
                    <form action="/" method="GET">

                        <div class="login-label">
                            <label for="email-login">E-mail</label>
                        </div>
                        <div class="login-group" data-input-border>
                            <input type="text" name="email-login" id="email-login" data-input-login>
                            <img src="images/arroba.png" alt="">
                        </div>

                        <div class="login-label">
                            <label for="password-login">Senha</label>
                        </div>
                        <div class="login-group" data-input-border>
                            <input type="password" name="password-login" id="password-login" data-input-login>
                            <img src="images/big-lock.png" alt="">
                        </div>
                    
                        <div class="login-esquecisenha">
                            <p>Esqueci a senha</p>
                        </div>
                        <button type="submit" class="login-submit">Entrar</button>
                    </form>
                </div>
            </section>
        </div>

        <script src="scripts/login.js"></script>
    </body>
</html>