<main>
    <div class="main-container">
        <div class="main-card">
            <div class="main-card-title">
                <h1>Agendamentos</h1>
                <img src="images/agendamento.png" alt="Calendário">
            </div>
            <div class="main-card-content">
                <h1>Novo Agendamento</h1>
                <div class="main-card-step-counter">
                    <ul class="progressbar">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>

                <div class="main-card-fields-and-text">

                    {% include "../other-parts/main-card-fields/main-card-text.njk"%}
                    {% include "../other-parts/main-card-fields/main-card-fields.njk"%}
                
                </div>
            </div>
        </div>
    </div>
</main>