<main>
    <div class="main-container">
        <div class="main-card">
            <div class="main-card-title">
                <h1>Agendamentos</h1>
                <img src="images/agendamento.png" alt="Calendário">
            </div>
            <div class="main-card-content">
                <h1>Novo Agendamento</h1>
                <div class="main-card-step-counter">
                    <ul class="progressbar">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>

                <div class="main-card-fields-and-text">

                    <div class="main-card-text">
                        <h2>Quando você virá?</h2>
                        <p>Escolha a data que você deseja para a reserva da sua mesa.</p>
                    </div>

                    <div class="main-card-fields">
                        <input type="date" name="dtAgendamento" id="dtAgendamento">
                        <button>Continuar ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>