body {
    background-image: url("../images/fundoPepsico.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.login {
    margin-top: 2em;
    width: 30%;
    background-color: white;
    height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.192) 0px 0px 10px 1px;
}

.login-logo {
    margin-bottom: 3em;
}

.login-logo img {
    width: 168px;
    height: 40px;
}

.login-form {
    width: 100%;
}

.login-group {
    display: flex;
    border: var(--cor-input-border) solid 1.8px;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border-radius: 18px;
    padding: 8px 10px;
    margin-bottom: 1em;
}

.login-group img {
    width: 22px;
    height: 22px;
}

/* Cor de fundo do autocomplete */
.login-group input:-webkit-autofill {
    box-shadow: -4px 0px 0px 10px rgb(232, 240, 254);
    border-radius: 18px;
}

#email-login, #password-login { 
    width: 88%;
    margin: 0px 4px;
    outline: none;
    border: none;
    font-size: 16px;
}

.login-label {
    display: flex;
    width: 88%;
    margin-bottom: 0.2em;
    font-size: 14px;
    color: var(--cor-principal);
    font-weight: bold;
}

.focusin {
    border: var(--cor-principal) 1.8px solid
}

.focusout {
    border: var(--cor-input-border) 1.8px solid
}

.hover {
    border: var(--cor-input-border-hover) 1.8px solid
}

.login-esquecisenha {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    color: var(--cor-input-border);
    font-size: 14px;
}

.login-esquecisenha p:hover {
    text-decoration: underline var(--cor-principal);
    color: var(--cor-input-border-hover);
    cursor: pointer;
}

.login-submit {
    width: 90%;
    padding: 10px 20px;
    margin-top: 2.5em;
    background-color: var(--cor-principal);
    color: var(--cor-branco);
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 18px;
    box-shadow: gray 1px 1px 10px;
}

.login-submit:hover {
    background-color: var(--cor-button-hover);
    transition: all 0.4s;
    cursor: pointer;
}